{% extends "main.html" %}
{% load staticfiles %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hoc AngularJS </title>

    <link href="{% static 'css/congtac.css' %}" rel="stylesheet" media="screen">
	<meta http-equiv= "Content-type" content="text/html"; charset="UTF-8">
	<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script-->
	<script language="javascript" src="{% static  "djng/js/angular.min.js" %}"> </script>
    <script language="javascript" src="{% static  "djng/app_congtac.js" %}"></script>
</head>


<body  ng-app="myApp">

<section  ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
        <li ng-class="{active: panel.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)"> Trang 1 </a>
        </li>
        <li ng-class="{active: panel.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)"> Trang 2 </a>
        </li>
        <li ng-class="{active: panel.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)"> Trang 3 </a>
        </li>
    </ul>
    <div class = "panel" ng-show="panel.isSelected(1)">
         <h4> {$ 3 -  2 $} </h4>

    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
         <h4> {$ 1 + 1 $} </h4>
          <blockquote>  </blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
              <form name="form"  ng-controller="MyFormCtrl" method= "post" > {% csrf_token %}
                  
				  <label for="id_id">id</label>
                        <input type ="text" cols="40" id="id_id" name="id" rows="10" ng-model="congtac.id"></input>
				  <label for="id_ten">ten</label>
                        <input type ="text" cols="40" id="id_ten" name="ten" rows="10" ng-model="congtac.ten"></input>
                  <label for="id_diachi">diachi</label>
                        <input type="text" cols="40" id="id_diachi" name="diachi" rows="10" ng-model="congtac.diachi"></input>

                  <p><label for="id_congtac">Loai:</label>
                      <select ng-model="congtac.congtac" id="id_congtac" name="congtac">
                             <option value="" selected="selected">---------</option>
                             <option value="1">Backlog</option>
                             <option value="2">Done</option>
                             <option value="3">In progress</option>
                      </select>
                      <button ng-click="submit($event)"> Submit </button>
                  </p>
              </form>

          <h4> {$ 1 + 2 $} </h4>
    </div>
</section>
</body>
</html>
{% endblock %}