amqp
appdirs
asn1crypto
astroid
attrs
Babel
billiard
cairocffi
CairoSVG
celery
cffi
click
colorama
cryptography
cssselect
defusedxml
dj-database-url
dj-static
Django
django-angular
django-bootstrap3
django-braces
django-crispy-forms
django-haystack
django-localflavor
django-parler
django-paypal
django-rosetta
django-tables2
django-taggit
django-toolbelt
djangorestframework
Flask
flower
gunicorn
idna
itsdangerous
Jinja2
kombu
lazy-object-proxy
lxml
MarkupSafe
microsofttranslator
olefile
packaging
Pillow
polib
psycopg2
pycparser
pyparsing
pytz
requests
six
South
static3
tinycss
tornado
vine
virtualenv
virtualenvwrapper-win
Werkzeug
whitenoise
wrapt
