

.wrapper{
    margin:0 auto;
    width:80%;
    min-width:280px;
    max-width:100px;	
	
}


.form_item{
	marin-bottom:5px;
	float:left;
	width:100%
}
.form_col1{
	float:left;
	width:49%;
	margin-right:2%;
	clearer:both;
}
.form_col2{
	float:left;
	width:49%;
	margin:0;
}


#myform{
	display:block;
	 width:400px;
	 height:402px;
	 padding:15px 15px 20px 15px;
	 color: #eaf5ed; 
	 background-color: #1DA0A3;
	 border-radius: 10px;
	 margin: 0 auto
}
