
#form-nhap{
	width:auto;height:80px;background-color:#EDF6F5;
	}

	.btn_nhap, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

	.f_nhap{
	margin-top:10px;
 	margin-bottom:40px;
	margin-left:150px;
	margin-right:30px;
	border:1px dotted #FF0000;
    background: #c0c5d1;
    padding: 10px 15px;
    
    border-radius: 4px;
    color: #0e1e06;
    cursor: pointer;
	
}
	.lb_btn_nhap{
	
    background:transparent;
    
	
}
	
	
	