/*
huong dan 
*{margin:0px;padding:0px;}
.clear {clear:both;}
*/
*{margin:0px;padding:0px;}
li {list-style:none;}
a {text-decoration:none;color:#FFF;font-size:16px;}
.clear {clear:both;}
.wrapper{width:fluid;height:auto;background:#F8F8F8;margin:0px auto;}
.header{width:fluid;height:80px;background-color:#EDF6F5;}

.header h1{float:left;text-align:center;color:#2f9ebc;font-size:1.7em;line-height:26px;font-style:italic;margin:0 5 5 300px}
/*
.header h1{float:left;font-size:1.7em;width:300px;text-align:center;line-height:26px}
.header h3{float:left;text-align:center;color:#e62520;font-size:1.7em;line-height:26px;font-style:italic;margin:0 0 0 95px}
.header h3 span{font-size:1.2em;}
.header p{float:right;color:#2a5091;font-size:1.3em;font-style:italic;font-weight:bold;line-height:20px;text-align:right;}
*/
.main_menu {background: #6BA4D5;margin-top:0px;}
.main_menu>ul>li {list-style:none;float:left;padding:11px 27px;position:relative;border-right:1px dotted #ACACAC;}
.main_menu>ul>li:last-child{border-right:none;}
.main_menu>ul>li>a{text-decoration:none;color:#FFF;font-size:17px;}
.main_menu>ul>li>ul { display:none;position:absolute;background:#6BA4D5;top:43px;left:0px;width:200px;}
.main_menu>ul>li:hover ul{ display: block;}
.main_menu ul li:hover{ background: #5f5c5c;transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding:5px;10px;}
.main_menu>ul>li>ul>li { border-bottom: 1px dotted #ACACAC;}
.left{width:100px;height:auto;background-color:#EDF6F5;float:left;}
.content{
	     width:auto;height:auto;float:left;
		 padding-left:100px;
		 }
.right{
	width:50px;height:auto;background-color:#EDF6F5;
	
	float: right;
	
	}
.footer{width:fluid;height:80px;background-color:#EDF6F5;clear:both;}
