{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

 <html>
     <head>
         <title>Phiếu chuyển thông tin địa chính</title>
         <meta http-equiv="Content-Type" content="text/html" meta charset=utf-8">
    	<script language="javascript" src="{% static  "djng/js/angular.min.js" %}"> </script>
        <script language="javascript" src="{% static  "djng/app_congtac.js" %}"></script>
     </head>
     <body>
        {% regroup data_row by so as so_list %}
        {% for so in so_list %}
             {% for s in so.list %}
                <table class="bang">
                        <tr>
                            <td id="coquanchuquan"> &emsp;&emsp;&ensp; VĂN PHÒNG ĐKĐĐ TP CẦN THƠ </td>
                            <td id="quochieu1">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td id="coquanbanhanh">
                                 CHI NHÁNH VPĐKĐĐ Q CÁI RĂNG
                                 <hr id="hang1">
                            </td>

                            <td id="quochieu2">
                                <u>Độc lập - Tự do - Hạnh phúc </u>
                            </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td id="so" style="color:blue;">Số: {% if not s.soin is null  %} {{ s.soin  }} {% endif %}</td>
                            <td id="ngay" style="color:blue;"> Cái Răng, ngày {{ s.ngaychuyen|date:'d' }} tháng {{ s.ngaychuyen|date:'m' }} năm {{ s.ngaychuyen|date:'Y' }} </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td id="tieude">
                                <br>PHIẾU CHUYỂN THÔNG TIN ĐỊA CHÍNH <br> ĐỂ XÁC ĐỊNH NGHĨA VỤ TÀI CHÍNH
                                <hr id="hang2">
                            </td>

                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td id="kinhgui"> <u>Kính gửi:</u></td>
                            <td id="chicucthue"> Chi cục thuế quận Cái Răng, thành phố Cần Thơ</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"> Chi nhánh Văn phòng ĐKĐĐ Quận Cái Răng thông tin địa chính để xác định nghĩa vụ tài chính như sau:</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th><u><b>I-NGƯỜI SỬ DỤNG NHÀ ĐẤT:</b></u> </th>

                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td id="hovaten" style="color:blue;"> <b>{% if not s.hovaten is null  %} {{ s.hovaten}} {% endif %}</b> </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"> Địa chỉ: <b style="color:blue;">{% if not s.diachi is null  %} {{ s.diachi}} {% endif %} </b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th> <u><b>II- THÔNG TIN VỀ NHÀ ĐẤT</b></u></th>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th> <u><b>1.Về thửa đất</b></u></th>
                         </tr>
                </table>
                <table class="bang">
                         <tr>
                             <td style="padding-left:2.5em">1.1 Thửa đất số: <b style="color: blue;">{% if not s.thuadatso is null  %} {{ s.thuadatso}} {% endif %}</b></td>
                             <td>- Tờ bản đồ số: <b style="color: blue;">{% if not s.tobando is null  %} {{ s.tobando}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.2 Địa chỉ đất: <b style="color: blue;">{% if not s.dcthuadat is null  %} {{ s.dcthuadat}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.3 Loại đường/khu vực: </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"> <b style="color: blue;">{% if not s.loaiduong is null  %} {{ s.loaiduong}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.4 Vị trí: </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"> <b style="color: blue;">{% if not s.vitri is null  %} {{ s.vitri}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.5 loại đất: <b style="color: blue;">{% if not s.loaidat is null  %} {{ s.loaidat}} {% endif %}</b> </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.6 Mục đích sử dụng đất:  <b style="color: blue;">{% if not s.mdsudung is null  %} {{ s.mdsudung}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.7 Thời hạn sử dụng đất:   <b style="color: blue;">{% if not s.thsudung is null  %} {{ s.thsudung}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">a- Ổn định lâu dài: <b style="color: blue;">{% if not s.odlaudai is null  %} {{ s.odlaudai}} {% endif %}</b> </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">b- Có thời hạn: từ ngày: <b style="color: blue;">{% if not s.cthtungay is null  %} {{ s.cthtungay}} {% endif %}</b> </td>
                            <td> Đến ngày: <b style="color: blue;">{% if not s.cthdenngay is null  %} {{ s.cthdenngay}} {% endif %} </b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.8 Diện tích đất để xác định nghĩa vụ tài chính (m2):</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"><b style="color: blue;">{% if not s.dientich is null  %} {{ s.dientich}} {% endif %} </b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th style="padding-left:3.0em">* Đất ở tại đô thị</th>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.5em">-Trong hạn mức công nhận đất ở (nếu có):<b style="color: blue;">{% if not s.dtnttronghm is null  %} {{ s.dtnttronghm}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.5em">-Trên hạn mức công nhận đất ở (nếu có):<b style="color: blue;">{% if not s.dtnttrenhm is null  %} {{ s.dtnttrenhm}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.5em">-Diện tích sử dụng riêng:<b style="color: blue;">{% if not s.dtdtsdr is null  %} {{ s.dtdtsdr}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.5em">-Diện tích sử dụng chung:<b style="color: blue;">{% if not s.dtdtsdc is null  %} {{ s.dtdtsdc}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.9 Nguồn gốc sử dụng đất: Được giao đã nộp tiền sử dụng đất, được giao không thu tiền sử dụng đất, nhận thừa kế, tặng cho, nhận chuyển nhượng quyền sử dụng đất(đất ở, đất sản xuất kinh doanh, dịch vụ, đất phi nông nghiệp khác, đất nông nghiệp): </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"><b style="color: blue;">{% if not s.nguongoc is null  %} {{ s.nguongoc}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.10 Thời điểm sử dụng đất từ:<b style="color: blue;"> {% if not s.thoidiemsdd is null  %} {{ s.thoidiemsdd}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.11 Đối tượng thuộc diện phải nộp tiền sử dụng đất theo trường hợp: </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">a-100% giá đất: <b style="color: blue;"> {% if not s.noptien100 is null  %} {{ s.noptien100|yesno:" Có, " }} {% endif %} </b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">b-50% giá đất: <b style="color: blue;"> {% if not s.noptien50 is null  %}  {{ s.noptien50|yesno:" Có, " }}{% endif %} </b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">c-50% chênh lệch giữa giá hai loại đất:<b style="color: blue;"> {% if not s.noptien50clld is null  %}  {{ s.noptien50clld|yesno:" Có, "}}{% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em">d-Chênh lệch giữa giá 2 loại đất:<b style="color: blue;">{% if not s.noptienclld is null  %}  {{ s.noptienclld|yesno:" Có, "}}{% endif %} </b> </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr></tr>
                        <tr>
                            <th> <u><b>2. Về nhà:</b></u> </th>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.1 Cấp nhà: <b style="color: blue;">{% if not s.capnha is null  %} {{ s.capnha}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.2 Diện tích sàn nhà (m2 xây dựng): <b style="color: blue;">{% if not s.dtsannha is null  %} {{ s.dtsannha}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.3 Tầng (lầu) đối với nhà chung cư cao tầng: <b style="color: blue;">{% if not s.sotangnha is null  %} {{ s.sotangnha}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.4 Nguồn gốc nhà: Tự xây, mua, thừa kế, tặng cho, nhà tình nghĩa: </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em"><b style="color: blue;">{% if not s.nguongocnha is null  %} {{ s.nguongocnha}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.5 Ngày hoàn công hoặc mua, nhận thừa kế, tặng cho: <b style="color: blue;">{% if not s.ngayhoancong is null  %} {{ s.ngayhoancong}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th><u><b> III-NHỮNG GIẤY TỜ TRONG HỒ SƠ CỦA NGƯỜI SỬ DỤNG ĐẤT THỰC HIỆN NGHĨA VỤ TÀI CHÍNH GỒM:</b></u></th>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td><u><b>1. Đối tượng thuộc diện không phải nộp hoặc miễn, giảm:</b></u></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.1 Đơn đề nghị của người sử dụng đất </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.2 Xác nhận của các cơ quan liên quan </td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">1.3 Tài liệu khác có liên quan (giấy chứng nhận thương binh, giấy phép ưu đãi đầu tư,..</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em"><b style="color: blue;">{% if not s.doituongkpn is null  %} {{ s.doituongkpn}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <th><u><b>2.Đối tượng phải bồi thường thiệt hại về đất:</b></u> </th>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">2.1 Quyết định của cơ quan có thẩm quyền về chi trả tiền bồi thường về đất</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em"> 2.2 Chứng từ thành toán tiền bồi thường:</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.0em"><b style="color: blue;">{% if not s.doitongbtth is null  %} {{ s.doitongbtth}} {% endif %}</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:2.5em">Những thông tin trên đã được thẩm tra xác minh là đúng thực tế và người sử dụng nhà, đất có đủ điều kiện được cấp giấy chứng nhận.</td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>

                            <td id="noinhan" style="padding-left:3.0em"><b><u><i> Nơi nhận:</i></u></b></td>
                            <td id="giamdoc"><b>GIÁM ĐỐC</b></td>
                        </tr>
                </table>
                <table class="bang">
                        <tr>
                            <td style="padding-left:3.5em">- Như trên.</td>
                        </tr>
                </table>
                <!--table class="bang">
                        <tr>
                            <td style="padding-left:3.5em"> - Lưu VT.</td>

                        </tr>
                </table -->
            <p style="page-break-after: always;">&nbsp;</p>
            <p style="page-break-before: always;">&nbsp;</p>
            {% endfor %}
        {% endfor %}

<!-- {{ cot|truncatechars:5 }}-->
   </body>

</html>
