{# ketqua_tim_congtac.html #}
{% extends "main.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
<!doctype html>
{% block content %}
<html>
    <head>
        <!--link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" /-->
		<link href="{% static 'css/screen.css' %}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div id ="ketquatimkiem" >
		   {% render_table table_ketqua %}
		</div>
    </body>
</html>
{% endblock %}