











/* html5 display-role reset for older browsers
article,asise,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
/*ol,ul{
	list-style:none;
}
*/
/*
blockquote:before, blockquote:after,q:before,q:after{
	content:'';
	content:none;
}
table{
	bolder-collapse:collapse;
	border-spacing:0;
}
html{
	text-rendering:optimizelegibility:important;
	-webkit-font-smoothing:antialiased:important;
}
/*
sets the box-sizing model to border-box, which allows you to add padding to the block-level 
*/
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
img{
	max-width:100%;
}

/*site
font 
*/
html{
	font-size:14px;
	font-family:"Source sans pro",Arial,Helvtica,sans-serif;
	font-weight:400;
	line-height:150%;
}


hl{
	font-size:3.2rem;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:10px;
	line-height:125%;
}
h2{
	font-size:1.3rem;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	line-height:150%;
}
p{
	font-size:1.2rem;
	line-height:175%;
	font-weight:400;
	text-align:justify;
	marin-bottom:30px;
}
a,a:link{
	color:#2e4a54;
	text-decoration:underline;
}
a:visibled{
	color:#6c0808;
}
a:hover,a:active{
	color:#ae0303;
}
ul{
	font-size:1.2rem;
	line-height:125%;
	font-weight:400;
	text-align:left;
	margin-top:5px;
	marin-bottom:20px;
}
li{
	margin-bottom:10px;
}

.navTopper{
	backgroud-color:#ldl30c;
	padding:6px 0 0 0;
	float:left;
	width:100%;
	margin:0;
	}
.wrapper{
    margin:0 auto;
    width:80%;
    min-width:280px;
    max-width:100px;	
	
}
.content{
	width:100%
	float:left;
	postion:relative;
}
 /* css 10 part1* hang 273
 
 .samples img{
	 margin-bottom:3px;
 } 
 .samples img:first-child{
	 position:absolute;
	 top":0;
	 z-index:1;
	 opacity:0;
 }
 .samples a:hover img:first-child,.samples a:active img:first-child{
	 opacity:0,6;
 } 
 brown{
	 backgroud-color:#36261b;
	 color:#ffffff;
	 float:left;
	 padding-bottom:40px;
 }
 .brown .insidehead h2{
	 color:#ffffff;
	  }
.brown a,.brown a:link,.brown a: visibled{
	color:#ffffff;
}
.brown a:hover,.brown a:active{
	color:#a7e3ee;
}

.white{
	 backgroud-color:#ffffff;
	 color:#000000;
	 float:left;
	 padding-bottom:40px;
}

.white .wrapper .content {
	width:75%
	float:left;
	margin:0 0 20px 0;
	background:#427282;
	bolder-radius:10px;
	color:blue;
	}
	.white form{
	 width:100%;
	 float:left;
	 backgroud-color:#427282;
	 padding:15px 15px 20px 15px;
	 color: #9c2c2c;
     bolder-radius:10px;
}

*/
.myinfo{
	width:22%
	margin:10px 0 0 3%;
	padding:0;
	float:right;
}
.myinfo div{
	margin:0 0 8px 0;
	font-size:1rem;
	font-weight:700;
	text-align:right;
	}


.form_item{
	marin-bottom:5px;
	float:left;
	width:100%
}
.form_col1{
	float:left;
	width:49%;
	margin-right:2%;
	clearer:both;
}
.form_col2{
	float:left;
	width:49%;
	margin:0;
}
body{
    width:90%;
    height:auto;	
    background:#fcfaf1;
    color:#ffffff;	
}

.myform{
	 width:252px;
	 height:402px;
	 padding:15px 15px 20px 15px;
	 color: #38a454; 
	 backgroud-color:#427282;
	 bolder-radius:10px;
}
#contactform{
	 
}
 